############################
# Python
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environments
############################
venv/
.venv/

############################
# Runtime outputs
############################
secure_store/
receipts/
processed/
*.csv

############################
# Local binaries (DO NOT TRACK)
############################
LDA/OpenFace/

############################
# Tooling / package managers
############################
vcpkg/

############################
# Local machine configs
############################
configs/local_config.yaml

############################
# OS junk
############################
.DS_Store
Thumbs.db

installer/runtime/deps/windows/*
installer/FederatedInstaller.spec
installer/build/
installer/dist/

data/*